.products-table {
    margin-top: 20px;
    font-size: 16px;
}

.product-row:hover {
    background-color: #f4f4f4;
}

.product-image {
    width: 80px;
    height: auto;
}

.card {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loading-error {
    color: red;
}
.filter-and-add-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.filter-section {
    margin-right: 10px; /* Adjust margin as needed */
}

